descartes==1.1.0
Fiona==1.8.6
GDAL==2.4.1
geopandas==0.5.0
matplotlib==3.1.0
numpy==1.16.4
osmnx==0.10
pandas==0.24.2
pyproj==1.9.6
rasterio==1.0.24
rasterstats==0.13.1
scikit-learn==0.21.2
scipy==1.3.0
Shapely==1.6.4.post2
cython
networkx
bokeh
statsmodels
pyspark
geoplot
folium
cartopy
dash
dash-html-components
dash-core-components
spacy
holoviews
pycrs
mordecai