---

- name: Get GeoServer container info
  community.docker.docker_container_info:
    name: test_geoserver
  register: geoserver_status

- name: Pull GeoServer image
  community.docker.docker_image:
    name: docker.osgeo.org/geoserver:{{ geoserver_version }}
    source: pull
    pull:
      platform: amd64
  when: not geoserver_status.exists
  
- name: Create Geoserver data directory 
  file:
    path: "{{geoserver_datadir}}"
    state: directory
    mode: '0770'
    owner: ubuntu
  become: yes

- name: Restart GeoServer if not up
  community.docker.docker_container:
    name: test_geoserver
    image: docker.osgeo.org/geoserver:{{ geoserver_version }}
    state: started
    restart: true
    ports:
      - "8080:8080"
    mounts:
      - type: "bind"
        target: /opt/geoserver_data
        source: "{{geoserver_datadir}}"
    env: # These are only needed when using extensions, here ysld is used as an example
      INSTALL_EXTENSIONS: "true"
      STABLE_EXTENSIONS: "ysld"
      # If you want to use Community modules, add COMMUNITY_EXTENSIONS followed by the modules you want to use 
      # e.g. COMMUNITY_EXTENSIONS: "ogcapi-features,ogcapi-images"

- name: GeoServer info
  debug:
    msg: 
      - "You now have GeoServer available at: http://{{ hostvars['localhost']['server_facts']['servers'][0]['access_ipv4'] }}:8080/geoserver/"
      - "To login in to the virtual machine, connect with: ssh ubuntu@{{ hostvars['localhost']['server_facts']['servers'][0]['access_ipv4'] }}"
